*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Slabo 27px', serif;
  --secondary-font: 'Slabo 27px', serif;
  --body-font: "Cabin", sans-serif;
  --headings-font: "Playfair Display", cursive;
  --main-font-color-dark: #252525;
  --main-font-color-white: #f9f9f9;
  --secondary-font-color: #e1b164;
  --secondary-red-font-color: #bb1a1a;

  --body-font-color: #515151;
  --white-color: #fff;
  --dark-bg: #121212;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

/* HEADER */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.navbar {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2.5rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  transition: color 0.4s;
}

.logo:hover {
  color: var(--secondary-font-color);
}

.menu-toggle {
  color: var(--white-color);
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5rem;
  cursor: pointer;
  z-index: 1500;
}

.fa-times {
  display: none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  min-height: 100vh;
  background-color: var(--main-font-color-dark);
  padding: 4.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1250;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.navbar::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.show .fa-times {
  display: block;
}

.show .fa-bars {
  display: none;
}

.show .nav-list {
  transform: translateX(0);
}

.show .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
  display: block;
  color: var(--white-color);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color 0.5s;
}

.nav-link:hover {
  color: var(--secondary-font-color);
}

/* HERO SECTION*/

.hero {
  width: 100%;
  height: 100vh;
  background: url("images/index1.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

}

.headline {
  font-family: var(--main-font);
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  opacity: 0;
  animation-name: scaleBigger;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

h1.headline {
  font-family: var(--secondary-font);
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 5.5rem;
  opacity: 0;
  animation-name: scaleBigger;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}



.sub-headline {
  font-size: 8.5rem;
  font-family: var(--headings-font);
  color: var(--secondary-red-font-color);
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
  opacity: 0;
  animation-name: fadeUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.sub-headline::first-letter {
  text-transform: uppercase;
  font-size: 10.3rem;
}

.btn {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--secondary-font-color);
  color: var(--white-color);
  padding: 2rem 3rem;
  transition: all 0.4s;
}

.btn-primary:hover {
  background-color: var(--white-color);
  color: var(--secondary-font-color);
}

/* STORY SECTION*/

.global-headline {
  margin-top: 3.9rem;
  text-align: center;
}
.global-headline2 {
  margin-top: 1px;
  margin-right: 800px;

  text-align: center;
}

.our-story .global-headline {
  margin-top: 6.9rem;
}

.asterisk {
  font-size: 1.2rem;
  color: var(--body-font-color);
  margin: 2.4rem 0;
  opacity: 0;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.headline-dark {
  color: var(--main-font-color-dark);
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
}
.headline-white {
  color: var(--main-font-color-white);
  letter-spacing: 0.7rem;
  margin-right: -0.7rem;
}

.global-headline .sub-headline {
  letter-spacing: -1px;
  line-height: 0.42;
}

.row {
  text-align: center;
}

.description {
  margin-bottom: 3rem;
}

.description p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.btn-secondary {
  color: var(--secondary-font-color);
  position: relative;
  transition: color 0.5s;
}

.btn-secondary::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-font-color);
  transition: background-color 0.5s;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--main-font-color-dark);
}

.btn-secondary:hover::before,
.btn-secondary:focus::before {
  background-color: var(--main-font-color-dark);
}

/* ALWAYS FRESH */

.always-fresh {
  background: url("images/index4.jpg") center no-repeat;
  background-size: cover;
  opacity: 0.95;
}
.always-fresh2 {
  background: url("images/thinstone1.jpg") center no-repeat;
  background-size: cover;
}
.shared {
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MENU SECTION */

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.menu .description {
  padding-top: 3rem;
  margin-bottom: 0;
}

/* TASTY SECTION */

.tasty {
  background: url("images/index2.jpg") center no-repeat;
  background-size: cover;
  filter: brightness(70%);
  opacity: 0.95;
}

/* FOOTER */

footer {
  background-color: var(--dark-bg);
  color: var(--white-color);
  padding: 7rem 0 5rem;
  position: relative;
  text-align: center;
}

.back-to-top {
  background-color: var(--dark-bg);
  border-radius: 50%;
  position: absolute;
  top: -3rem;
  left: 50%;
  width: 7rem;
  height: 7rem;
  transform: translateX(-50%);
}

.back-to-top i {
  display: block;
  color: var(--white-color);
  font-size: 2rem;
  padding: 2rem;
  animation-name: showsUp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.footer__content {
  overflow: hidden;
}

.footer__content h4 {
  font-size: 1.9rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}

footer .asterisk {
  color: var(--secondary-font-color);
  margin: 2.4rem;
}

.footer__content-about {
  margin-bottom: 5.4rem;
}

.footer__content-about p {
  line-height: 1.8;
}

.social-icons {
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: center;
}

.social-icons i {
  font-size: 2rem;
  color: var(--white-color);
  padding: 0.8rem 2rem;
  opacity: 0.5;
  transition: color 0.5s;
}

.social-icons i:hover,
.social-icons i:focus {
  color: var(--secondary-font-color);
}

.newsletter-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.newsletter-input {
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
  border: none;
  outline: none;
}

.newsletter-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--main-font-color-dark);
  font-size: 1.6rem;
  padding: 1px 0.6rem;
  outline: none;
}

.newsletter-form-box {
  background-color: var(--white-color);
  border-radius: 0.4rem;
  display: flex;
  overflow-x: hidden;
}

/*                    ABOUT PAGE                      */

/* RESERVATION SECTION */

.small-size-hero {
  height: 20vh;
}

.reservation__container {
  margin: 3rem 0;
}

.reservation__form > * {
  display: block;
  width: 100%;
}

.reservation h4 {
  font-size: 2.5rem;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}

.reservation__form input,
.reservation__form select {
  background: transparent;
  border: 1px solid var(--secondary-font-color);
  margin-bottom: 3rem;
  padding: 1.8rem 2rem;
  outline: none;
  color: var(--body-font-color);
  font-size: 1.3rem;
  font-family: var(--body-font);
}

.reservation__form select {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.submit__reservation {
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}

.submit__reservation:hover {
  border: 1px solid var(--secondary-font-color);
}

.margin-bottom {
  margin-bottom: 5rem;
}

/*                    BAKERS PAGE                      */
/*Contact*/

.contact {
  text-align: center;
  align-items: center;
}

.contact .heading {
  margin-bottom: 5rem;
}

.contact-in {
  width: 80%;
  height: auto;
  margin: auto auto 5rem auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}
.contact-map iframe {
  width: 100%;
  height: 100%;
}
.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  text-align: left;
}
.contact-form-txt {
  margin-left: 2rem;
  width: 95%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-email {
  margin-left: 2rem;
  width: 95%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-txt::placeholder {
  color: #aaa;
  font-size: 1.5rem;
}
.contact-form-email::placeholder {
  color: #aaa;
  font-size: 1.5rem;
}
.contact-form-txtarea {
  margin-left: 2rem;
  width: 95%;
  height: 130px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}
.contact-form-txtarea::placeholder {
  color: #aaa;
  font-size: 1.5rem;
}

.contact-form-btn {
  margin-left: 2rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  background: white;
  border-style: groove;
  border-color: #002e5f;
  font-size: 1.5rem;
  cursor: pointer;
  height: 3.5rem;
  width: 15rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.contact-form-btn:hover {
  letter-spacing: 0.1rem;
  opacity: 0.9;
  color: white;
  background: #002e5f;
}
.contact-form-phone {
  margin-left: 2rem;
  width: 95%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-phone::placeholder {
  color: #aaa;
  font-size: 1.5rem;
}

/* Style the main container */
.jupiterx-main {
  background-color: #f5f5f5;
  padding: 20px;
}

/* Style the parallax images */
.jet-parallax-section__image {
  height: 500px; /* Set your preferred height */
  background-size: cover;
  background-position: center center;
}

/* Style the container columns */
.elementor-container {
  margin: 0 auto;
  max-width: 1200px;
}

/* Style the image carousel */
.elementor-image-carousel-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.swiper-slide-image {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Style the pagination bullets */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Style the navigation buttons in the image carousel */
.elementor-swiper-button-prev,
.elementor-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #333;
  cursor: pointer;
  z-index: 1;
}

.elementor-swiper-button-prev {
  left: 10px;
}

.elementor-swiper-button-next {
  right: 10px;
}
/* Apply styles to the outer container */
.elementor-container {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
}

/* Apply styles to the columns */
.elementor-column {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}

/* Apply styles to the headings */
.jet-listing-dynamic-field__content,
.elementor-heading-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Apply styles to the dynamic terms */
.jet-listing-dynamic-terms__prefix,
.jet-listing-dynamic-terms__link {
  font-size: 16px;
  color: #333;
}

/* Apply styles to the images in the image carousel */
.swiper-slide-inner img {
  max-width: 100%;
  height: auto;
}

/* Apply styles to the image carousel pagination bullets */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #999;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: background-color 0.3s, opacity 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #007bff;
  opacity: 1;
}

/* Apply styles to the image carousel navigation buttons */
.elementor-swiper-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.elementor-swiper-button-prev {
  left: 10px;
}

.elementor-swiper-button-next {
  right: 10px;
}

/* BAKERS SECTION */

.bakers h4 {
  font-size: 2.5rem;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}

.bakers__container img {
  width: 26.5rem;
  height: 36.5rem;
}

.baker {
  position: relative;
  margin-right: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.baker img {
  width: 100%;
  height: auto;
}

.baker h5 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}

.baker:hover {
  transform: scale(1.1);
}

.baker:hover img {
  filter: brightness(0.8);
}

.baker:hover h5 {
  display: block;
}

.baker {
  text-align: center;
  margin-bottom: 7rem;
}

.baker:last-child {
  margin-bottom: 0;
}

.baker h5 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-top: 2rem;
  letter-spacing: 0.3rem;
}

.baker .social-icons {
  margin: 1rem 0 0em;
  display: flex;
  justify-content: center;
}

.baker .social-icons i {
  font-size: 2rem;
  color: var(--secondary-font-color);
  padding: 0.8rem;
}

.baker .social-icons i:hover,
.baker .social-icons i:focus {
  color: #241f17;
}

/* JOIN US SECTION */

.join-us .image {
  display: none;
}

/*                         MEDIA QUERIES                  */

@media screen and (min-width: 900px) {
  section {
    padding: 7.9rem;
  }

  .menu-toggle {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-list {
    position: initial;
    width: initial;
    min-height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }

  .nav-item {
    border: none;
    margin: 0 2.4rem;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .active {
    position: relative;
  }

  .active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--white-color);
    left: 0;
    bottom: -3px;
  }

  .sub-headline {
    font-size: 7rem;
  }

  .headline {
    font-size: 4.7rem;
  }

  .story-img {
    max-width: 40rem;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .row > div {
    flex: 1;
  }

  .padding-right {
    padding-right: 7rem;
  }

  .footer__content {
    max-width: 77.5rem;
    margin: auto;
  }

  .footer__content-about {
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }

  .footer__content-divider {
    display: flex;
    justify-content: space-between;
  }

  .social-media,
  .newsletter-form {
    width: 100%;
    max-width: 27.3rem;
    margin: 0 1rem;
  }

  .social-icons i {
    opacity: 1;
  }

  .reservation__form {
    display: flex;
    align-items: flex-start;
    margin: 4rem 0 2rem;
  }

  .reservation__form > *:not(:last-child) {
    margin-right: 2rem;
  }

  .bakers__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }

  .bakers__container img {
    width: 250px;
    height: 400px;
    object-fit: cover;
  }

  .baker:last-child {
    margin-bottom: 7rem;
  }

  .join-us .image {
    display: block;
  }
}

/*          ANIMATIONS           */

@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleBigger {
  0% {
    transform: scale(2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    opacity: 1;
    transform: scale(-360deg);
  }
}

@keyframes showsUp {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}


.testimonial-img img {
  width: 250px;
  height: 250px;
}
.heading, .section-header h2, .section-head h1, .testimonials .section-header h2, .section-head-1 h4{
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: #d45c1b;
    position: relative;
    letter-spacing: .2rem;
}

.heading::before, .heading::after, .section-header h2::before, .section-header h2::after, .section-head h1::before, .section-head h1::after, .testimonials .section-header h2::before, .testimonials .section-header h2::after, .section-head-1 h4::before, .section-head-1 h4::after{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid #002e5f;
    border-left: .4rem solid #002e5f;
}



.heading::before, .section-header h2::before, .section-head h1::before, .testimonials .section-header h2::before, .section-head-1 h4::before{
    top: 5.8rem;
    left: -2rem;
}

.heading::after, .section-header h2::after, .section-head h1::after, .testimonials .section-header h2::after, .section-head-1 h4::after{
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}


.testimonials {
    position: relative;
    padding: 90px 0 60px 0;
    background: #f2f2f2;
}

.testimonials .testimonial-item {
    position: relative;
    margin: 0 15px 30px 15px;
    background: #ffffff;
}

.testimonials .testimonial-img {
    position: relative;
    background: #000000;
    overflow: hidden;
}




.testimonials .owl-nav,
.testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #dddddd;
}
/* Sağ oku büyütme */
.owl-carousel .owl-nav button.owl-next i {
  font-size: 24px; /* Değiştirebileceğiniz istediğiniz bir boyut */
}

/* Sol oku büyütme */

.owl-carousel .owl-nav button.owl-prev i {
  font-size: 24px!important; /* Değiştirebileceğiniz istediğiniz bir boyut */
}
.testimonials .owl-dot.active {
    background-color: #4F84C4;
}

@media (max-width: 575px) {
    .testimonials .testimonial-text {
        padding: 25px;
    }
    .sub-headline {
      font-size: 4.5rem;
      font-family: var(--headings-font);
      color: var(--secondary-red-font-color);
      font-weight: 100;
      line-height: 0.4;
      letter-spacing: 2px;
      opacity: 0;
      animation-name: fadeUp;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-delay: 0.5s;
    }
    h1.headline {
      font-family: var(--secondary-font);
      margin-bottom: 4rem;
      font-weight: 300;
      font-size: 2.5rem;
      opacity: 0;
      animation-name: scaleBigger;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    
  }
}

